<!DOCTYPE html>
<html lang="en" ng-app="voteApp">
<head>
    <meta charset="UTF-8">
    <title>Vote</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="VoteController as ctrl">
<h1>Vote for your favorite option</h1>
<form ng-submit="ctrl.submitVote()">
    <input type="radio" name="vote" ng-model="ctrl.vote" ng-value="a" id="optionA">
    <label for="optionA">{{ctrl.options.optionA}}</label><br>
    <input type="radio" name="vote" ng-model="ctrl.vote" ng-value="b" id="optionB">
    <label for="optionB">{{ctrl.options.optionB}}</label><br>
    <button type="submit">Vote</button>
</form>
<p>Hostname: {{ctrl.hostname}}</p>
<p>Vote: {{ctrl.vote}}</p>
</body>
</html>
