<!DOCTYPE html>
<html lang="en" ng-app="voteApp">
<head>
    <meta charset="UTF-8">
    <title>Vote</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="VoteController as ctrl">
<h1>Vote for your favorite option</h1>
<form ng-submit="ctrl.submitVote()">
    <div ng-repeat="option in ctrl.options">
        <input type="radio" name="vote" ng-model="ctrl.vote" ng-value="option.value" id="option{{option.value}}">
        <input type="hidden" name="name" ng-model="ctrl.name" ng-value="option.name" id="option{{option.name}}">
        <label for="option{{option.value}}">
            <img ng-src="{{option.flag}}" alt="{{option.name}} flag" class="flag-icon"> {{option.name}}
        </label><br>
    </div>
    <button type="submit">Vote</button>
</form>
<p>Hostname: {{ctrl.hostname}}</p>
<p>Vote: {{ctrl.vote}}</p>
</body>
</html>
